{% extends "OrcaUserLogBundle::layout.html.twig" %}

{% block content %}

    <!-- FIRST ROW OF BLOCKS -->
    <div class="row">

        <!-- USER PROFILE BLOCK -->
        <div class="col-sm-4 col-lg-4">
            <div class="dash-unit">
                <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
        </div>

        <!-- USER PROFILE BLOCK -->
        <div class="col-sm-4 col-lg-4">
            <div class="dash-unit">
                <dtitle>User Profile</dtitle>
                <hr>
                <div class="thumbnail">
                    <img src="assets/img/face80x80.jpg" alt="Marcel Newman" class="img-circle">
                </div>
                <!-- /thumbnail -->
                <h1>Marcel Newman</h1>

                <h3>Madrid, Spain</h3>
                <br>

                <div class="info-user">
                    <span aria-hidden="true" class="li_user fs1"></span>
                    <span aria-hidden="true" class="li_settings fs1"></span>
                    <span aria-hidden="true" class="li_mail fs1"></span>
                    <span aria-hidden="true" class="li_key fs1"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4">

            <div class="dash-unit">
                <dtitle>Last Month Revenue</dtitle>
                <hr>
                <div class="cont">
                    <p>
                        <bold>{{ queryJour }}</bold>
                        |
                        <ok>par jour</ok>
                    </p>
                    <br>

                    <p>
                        <bold>$377</bold>
                        | par mois
                    </p>
                    <br>

                    <p>
                        <bold>$156</bold>
                        |
                        <bad>Err pas jour</bad>
                    </p>
                    <br>

                    <p>
                        <bold>$377</bold>
                        | par mois
                    </p>
                    {#<br>#}

                    {#<p><img src="assets/img/up-small.png" alt=""> 12% Compared Last Month</p>#}

                </div>

            </div>

        </div>
    </div>
    <!-- /row -->

    <script>
        $(document).ready(function () {
// Build the chart
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Nombre CNX / Type Terminal'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Microsoft Internet Explorer',
                        y: 56.33
                    }, {
                        name: 'Chrome',
                        y: 24.03,
                        sliced: true,
                        selected: true
                    }]
                }]
            });
        });
    </script>
{% endblock %}